<div class="karma-subnav-wrap">
  <div class="karma-subnav-groups">
    {% for group in karma_groups %}
    <div>
      <div class="karma-subnav-group-label">{{ group }}</div>
      <div class="karma-subnav-track">
        {% for item in karma_items if item.group == group %}
        <a href="/karma/{{ item.slug }}" class="karma-subnav-link {% if item.slug == karma_slug %}is-active{% endif %}">{{ item.order }}. {{ item.title }}</a>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
